body {
  color: black;
  margin: 0;
  background-color: #a8a9ad;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  font-family: "Racing Sans One", cursive;
}

header {
  display: flex;
  flex-direction: row;
}
nav {
  display: flex;
  align-items: center;
  height: 13vw;
  margin-left: 20vw;
}

.navButts {
  margin: 2vw;
  font-size: 1.7vw;
  padding: 1vw 2vw 1vw 2vw;
  background-color: darkred;
  transform: skew(-25deg);
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  border-radius: 1vw;
}
.navButts > span {
  display: inline-block;
  transform: skew(25deg);
  text-decoration: none;
  text-align: center;
}

#logo {
  margin: 2vw 0 0 4vw;
  width: 8vw;
  height: 8vw;
  background-image: url(./images/logo.png);
  background-size: cover;
}

#contentholder {
  display: grid;
 grid-template-columns: 1fr 1fr;
}

#info_top {
  width: 100%;
  height: 20vw;
  padding: 1em;
}

.hover:hover {
  cursor: pointer;
  stroke: black;
  stroke-width: 2;
}

#carholder {
  width: 50vw;
  height: 40vw;
  display: flex;
  flex-direction: row;
}

#configurate {
  width: 50vw;
  height: 40vw;
}

#car {
  width: 50vw;
  height: 20vw;
  top: 30vw;
}

.outline {
  cursor: pointer;
  filter: drop-shadow(0 0 0.15rem black);
}


#colorbox {
  width: 43.5vw;
  height: 5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: tyres;
  box-shadow: 3px 3px 8px #ddd;
  border-radius: 1em;
  padding: 1em;
}


#tyres {
  width: 45vw;
  height: 5vw;
    grid-area: tyres;
    box-shadow: 3px 3px 8px #ddd;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  #tyres .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #aaa;
  }

  #tyres .option:hover {
    filter: drop-shadow(0 0 0.75rem white);
    cursor: pointer;
  }
  
  #tyres .option.chosen {
    text-decoration: underline;
    color: #000;
  }
  
  #tyres .option img {
    width: 4vw;
    height: auto;
  }
  
  #tyres .option figcaption {
    font-size: 20px;
  }


  #extra_parts {
    width: 45vw;
  height: 5vw;
    grid-area: tyres;
    box-shadow: 3px 3px 8px #ddd;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  #extra_parts .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #aaa;
  }

  #extra_parts .option:hover {
    filter: drop-shadow(0 0 0.75rem white);
    cursor: pointer;
  }
  
  #extra_parts .option.chosen {
    text-decoration: underline;
    color: #000;
  }
  
  #extra_parts .option img {
    width: 5vw;
    height: auto;
  }
  
  #sponsors {
    width: 45vw;
  height: 5vw;
    grid-area: tyres;
    box-shadow: 3px 3px 8px #ddd;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  #sponsors .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #aaa;
    margin-left: 0.3vw;
    margin-right: 1.7vw;
  }

  #sponsors .option:hover {
    filter: drop-shadow(0 0 0.75rem white);
    cursor: pointer;
  }
  
  #sponsors .option.chosen {
    text-decoration: underline;
    color: #000;
  }
  
  #sponsors .option img {
    width: 4vw;
    height: auto;
  }
  
  #teams {
    width: 45vw;
  height: 5vw;
    grid-area: tyres;
    box-shadow: 3px 3px 8px #ddd;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  #teams .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #aaa;
    margin-left: 0.3vw;
    margin-right: 1.7vw;
  }

  #teams .option:hover {
    filter: drop-shadow(0 0 0.75rem white);
    cursor: pointer;
  }
  
  #teams .option.chosen {
    text-decoration: underline;
    color: #000;
  }
  
  #teams .option img {
    width: 4vw;
    height: auto;
  }

footer {
  position: absolute;
  top: 350vh;
  height: 10vw;
  width: 100%;
  background-image: url(./images/footerTexture.jpg);
  background-size: 40vw;
}

h1 {
  text-align: center;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  text-align: left;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}


span {
  font-family: "Racing Sans One", cursive;
}
/* TYRES */

.hide {
  display: none;
}

.tyre {
  position: absolute;
  width: 53.5%;
  height: 16vw;
  top: 26.9vw;
  left: 1.6vw;
  transform: rotate(-0.5deg);
}

/* Parts/FEATURES */

#front_wing {
  outline-style: solid 2px black;
  position: absolute;
  width: 22%;
  height: 10vw;
  top: 33vw;
  left: 39.2vw;
}

#frontwing:hover {
  outline-style: solid 2px black;
}

.redbul {
  position: absolute;
  width: 70%;
  height: 35vw;
  top: 10vw;
  left: -5vw;
}

#rear {
  position: absolute;
  width: 15%;
  height: 8vw;
  top: 22vw;
  left: 2.3vw;
  z-index: -1;
}

#halo {

    position: absolute;
    width: 13%;
    height: 9vw;
    top: 26.5vw;
    left: 26vw;
}

/* Sponsors */

.redbul {
  position: absolute;
  width: 8%;
  height: 3vw;
  top: 17.8vw;
  left: 4.5vw;
}

.alpine {
  position: absolute;
  width: 8%;
  height: 3vw;
  top: 17.8vw;
  left: 4.5vw;
}

.cogni {
  position: absolute;
  width: 8%;
  height: 3vw;
  top: 17.8vw;
  left: 4.5vw;
}

.mission {
  position: absolute;
  width: 8%;
  height: 3vw;
  top: 17.8vw;
  left: 4.5vw;
}

.dell {
  position: absolute;
  width: 8%;
  height: 3vw;
  top: 18vw;
  left: 4.5vw;
  transform: rotate(5deg);
}


.honda {
  position: absolute;
  width: 8%;
  height: 3vw;
  top: 17.9vw;
  left: 4.5vw;
  transform: rotate(3deg);
}
/* Teams */

.amcogni {
  position: absolute;
  width: 55%;
  height: 23vw;
  top: 19vw;
  left: 3vw;
}
/* Drivers */

.slides {
  position: absolute;
  height: 30vw;
  left: 27vw;
}

.verstappen {
  position: absolute;
  height: 35vw;
  left: 5vw;
}

.seb {
  position: absolute;
  left: 7vw;
  height: 27vw;
  top: 20vw;
}

.kimi {
  position: absolute;
  left: 11vw;
  height: 25vw;
  top: 20vw;
}

.lewis {
  position: absolute;
  left: 11vw;
  height: 25vw;
  top: 20vw;
}

.daniel {
  position: absolute;
  left: 9vw;
  height: 26vw;
  top: 20vw;
}

.gasly {
  position: absolute;
  left: 9vw;
  height: 26vw;
  top: 20vw;
}
/* Buttons */

.arrow {
  position: absolute;
  background-color: darkred;
  left: 25vw;
  top: 46vw;
  
}

.arrow1 {
  position: absolute;
  background-color: darkred;
  left: 30vw;
  top: 46vw;
}

#drivers {
  position: absolute;
  left: 26vw;
  top: 48vw;
}