body {
  color: black;
  margin: 0;
  background-color: rgb(219, 219, 219);
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Racing Sans One", cursive;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: row;
  background-color: darkred;
}
nav {
  display: flex;
  align-items: center;
  height: 5vw;
  margin-left: 20vw;
}

.navButts {
  margin: 2vw;
  font-size: 1.7vw;
  padding: 1vw 2vw 1vw 2vw;
  background-color: darkred;
  transform: skew(-25deg);
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  border-radius: 1vw;
}
.navButts > span {
  display: inline-block;
  transform: skew(25deg);
  text-decoration: none;
  text-align: center;
}

#logo {
  margin: 1vw 0 0 4vw;
  width: 9vw;
  height: 3vw;
  background-image: url(./logocar.png);
  background-size: cover;
}


footer {
  position: absolute;
  top: 90vw;
  height: 7vw;
  width: 100%;
  background-image: url(./images/footerTexture.jpg);
  background-size: contain;
}
/* CONFIGURATOR */

#contentholder {
  width: 100vw;
  height: 60vw;
  display: grid;
 grid-template-columns: 1fr 1fr;
}

/* COLOR BOX */
#colorbox svg {
  width: 6vw;
  height: 2vw;
  margin: 1vw 0.5vw 1vw  0.5vw;
}

#colorbox {
  width: 35vw;
  height: 5vw;
  display: flex;
  box-shadow: 3px 3px 8px WHITE;
  border-radius: 1em;
  padding: 1vw;
  margin: 0;
}

.color {
  width: 0.5vw;
  height: 0.5vw;
}

#firstteams {
  margin-top: -1vw;
}

#secondteams {
  margin-top: -1vw;
}

#thirdteams {
  margin-top: -1vw;
}

/* Top Info  */
#top_info {
  display: flex;
  flex-direction: column;
background-color: rgba(250, 250, 250, 46%)
}

#top_info  h1 {
  width: 90vw;
  text-align: center;
  margin-left: 3vw;
  font-size: 2vw;
}

#top_info  p {
  width: 90vw;
  margin-top:0vw ;
  margin-bottom: 2vw;
  font-size: 1.2vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 3vw;
  text-align: center;
  color: #000;
}

p {
  font-size: 1.5vw;
}

/* CAR */

.hover:hover {
  cursor: pointer;
  stroke: black;
  stroke-width: 2;
}

#carholder {
  margin-top: 10vw;
  width: 60vw;
  height: 40vw;
  display: flex;
  flex-direction: row;
}

#car {
  width: 58vw;
  height: 20vw;
  top: 4vw;
}

#configurate {
  width: 40vw;
  height: 30vw;
  margin-left: 1vw;
}

#configurate h1 {
  font-size: 1.7vw;
}

figure{
  margin: 2vw;
}


.outline {
  cursor: pointer;
  filter: drop-shadow(0 0 0.15rem black);
}


/* TYRES */

#tyres {
  width: 35vw;
  height: 5vw;
    grid-area: tyres;
    box-shadow: 3px 3px 8px WHITE;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
#tyres .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #aaa;
  }

#tyres .option:hover {
    filter: drop-shadow(0 0 0.75rem white);
    cursor: pointer;
  }
  
#tyres .option.chosen {
    text-decoration: underline;
    color: #000;
  }
  
#tyres .option img {
    width: 4vw;
    height: auto;
  }
  
#tyres .option figcaption {
    font-size: 20px;
  }

  /* EXTRA PARTS */

#extra_parts {
    width: 35vw;
  height: 5vw;
    grid-area: tyres;
    box-shadow: 3px 3px 8px WHITE;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
#extra_parts .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #aaa;
  }

  #extra_parts .option:hover {
    filter: drop-shadow(0 0 0.75rem white);
    cursor: pointer;
  }
  
  #extra_parts .option.chosen {
    text-decoration: underline;
    color: #000;
  }
  
  #extra_parts .option img {
    width: 5vw;
    height: auto;
  }

  /* SPONSORS */
  
  #sponsors {
    width: 35vw;
  height: 5vw;
    grid-area: tyres;
    box-shadow: 3px 3px 8px white;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  #sponsors .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #aaa;
    margin-left: 0.3vw;
    margin-right: 1.7vw;
  }

  #sponsors .option:hover {
    filter: drop-shadow(0 0 0.75rem white);
    cursor: pointer;
  }
  
  #sponsors .option.chosen {
    text-decoration: underline;
    color: #000;
  }
  
  #sponsors .option img {
    width: 4vw;
    height: auto;
  }

  /* TEAMS */
  
  #teams {
    width: 35vw;
  height: 5vw;
    grid-area: tyres;
    box-shadow: 3px 3px 8px white;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  #teams .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #aaa;
    margin-left: 0.3vw;
    margin-right: 1.7vw;
  }

  #teams .option:hover {
    filter: drop-shadow(0 0 0.75rem white);
    cursor: pointer;
  }
  
  #teams .option.chosen {
    text-decoration: underline;
    color: #000;
  }
  
  #teams .option img {
    width: 4vw;
    height: auto;
  }

h1 {
  text-align: center;
  font-size: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}


span {
  font-family: "Racing Sans One", cursive;
}
/* TYRES */

.hide {
  display: none;
}

#tyresHolder {
  position: absolute;
  top: 35.9vw;
  left: 1.3vw;
}
.tyre {
  width: 51.5vw;
  height: 15vw;
  transform: rotate(-0.5deg);
}

/* Parts/FEATURES */

#front_wing {
  outline-style: solid 2px black;
  position: absolute;
  width: 20vw;
  height: 10vw;
  top: 41.8vw;
  left: 38.7vw;
}

#frontwing:hover {
  outline-style: solid 2px black;
}

.redbul {
  position: absolute;
  width: 70%;
  height: 35vw;
  top: 10vw;
  left: -5vw;
}

#rear {
  position: absolute;
  width: 13.5vw;
  height: 8vw;
  top: 31.2vw;
  left: 2.9vw;
}

#halo {

    position: absolute;
    width: 13.5vw;
    height: 9vw;
    top: 35.1vw;
    left: 24.2vw;
}

/* Sponsors */

.sponsorsDis {
  top: 31.8vw;
}

.redbul {
  position: absolute;
  width: 7vw;
  height: 2.5vw;
  left: 5.8vw;
}

.alpine {
  position: absolute;
  width: 8vw;
  height: 2.5vw;
  left: 4.9vw;
}

.cogni {
  position: absolute;
  width: 7vw;
  height: 2.5vw;
  left: 5.5vw;
}

.mission {
  position: absolute;
  width: 8vw;
  height: 2vw;
  left: 5.2vw;
  transform: rotate(-2.5deg);
}

.dell {
  position: absolute;
  width: 8vw;
  height: 2.9vw;
  left: 5vw;
  transform: rotate(5deg);
}


.honda {
  position: absolute;
  width: 7vw;
  height: 2.5vw;
  left: 5.6vw;
  transform: rotate(3deg);
}
/* Teams */

.rbracing {
  position: absolute;
  width: 55vw;
  height: auto;
  top: 30.8vw;
  left: 3vw;
}

.amcogni {
  position: absolute;
  width: 55vw;
  height: auto;
  top: 30.9vw;
  left: 3vw;
}

.ferrari {
  position: absolute;
  width: 55vw;
  height: auto;
  top: 30.8vw;
  left: 3vw;
}

.mclaren {
  position: absolute;
  width: 55vw;
  height: auto;
  top: 30.9vw;
  left: 3vw;
}

/* Drivers */

.slides {
  height: 30vw;
  z-index: -1;
  
}
.driverContainer{
  position: absolute;
  top: 23vw;
  left: 29vw;
  width: 15vw;
  height: 28vw;
  display: flex;
  align-items: center;
}

.verstappen {
  height: 30vw;
}

.seb {
  height: 25vw;
}

.kimi {
  height: 23vw;
}

.lewis {
  height: 22vw;
}

.daniel {
  height: 24vw;
}

.gasly {
  height: 24vw;
}
/* Buttons */

.driverArrows  {
  width: 15vw;
  height: 10vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 19vw;
  top: 52vw;
}
.arrow {
  margin-right:2vw ;
  background-color: darkred;
  width: 2vw;
  height: 2vw;
  font-size: 1vw;
  padding: 0;
}

.arrow1 {
  background-color: darkred;
  width: 2vw;
  height: 2vw;
  font-size: 1vw;
  padding: 0;
}

#drivers {
  width: 15vw;
}

#drivers  h1 {
  font-size: 1.3vw;
  margin-top: 1vw;
  font-family: "Racing Sans One", cursive;
}