body {
  color: black;
  margin: 0;
  background-color: #a8a9ad;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  font-family: "Racing Sans One", cursive;
}
header {
  display: flex;
  flex-direction: row;
}
nav {
  display: flex;
  align-items: center;
  height: 13vw;
  margin-left: 20vw;
}

.navButts {
  margin: 2vw;
  font-size: 1.7vw;
  padding: 2vw;
  background-color: rgba(250, 5, 21, 50%);
  transform: skew(-25deg);
  display: inline-block;
  text-decoration: none;
  color: black;
  border-radius: 1vw;
}
.navButts > span {
  display: inline-block;
  transform: skew(25deg);
  text-decoration: none;
  text-align: center;
}

#logo {
  margin: 2vw 0 0 4vw;
  width: 8vw;
  height: 8vw;
  background-image: url(./images/logo.png);
  background-size: cover;
}

footer {
  position: absolute;
  top: 350vh;
  height: 10vw;
  width: 100%;
  background-image: url(./images/footerTexture.jpg);
  background-size: 40vw;
}
