body {
  background-color: black;
  overflow-x: hidden;
}

main {
  color: aliceblue;
}
#list ul li {
  display: inline-block;
}

ul li {
  display: inline-block;
}

section {
  height: 50vh;
}

#carScroll {
  display: flex;
  align-content: center;
  height: 200vh;
  z-index: 20;
}

.carScroll {
  height: 10vw;
  display: fixed;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

#the_div {
  width: 50vw;
  filter: drop-shadow(3px 2px 3px #097c7c);
}

#wheels {
  rotate: inherit;
}

#section {
  height: 100vh;
}

#line {
  z-index: 10;
}

.block {
  width: 30rem;
  height: auto;
}
.block > img {
  width: 30rem;
  height: auto;
}

.block1 {
  margin-right: auto;
}

.block2 {
  margin-left: auto;
}

.block3 {
  margin-right: auto;
}

.block4 {
  margin-left: auto;
}

h2 {
  color: white;
}

p {
  color: white;
}

#starter1 {
  width: 10vw;
  height: 10vw;
  background-color: yellow;
  position: absolute;
  top: 30vw;
}
