html body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

/* main {
  color: aliceblue;
} */
#list ul li {
  display: inline-block;
}

ul li {
  display: inline-block;
}

section {
  height: 20vw;
}

#the_div {
  width: 50vw;
  filter: drop-shadow(3px 2px 3px #097c7c);
}

#wheels {
  rotate: inherit;
}

#section {
  height: 100vw;
}

#line {
  z-index: 10;
  margin-left: 50%;
  margin-right: 50%;
}

svg {
  width: 2vw;
  height: 220vw;
}

#lines {
  z-index: 11;
}

/* GENERAL */
p {
  color: black;
  font-size: 1.2vw;
}

h2 {
  color: black;
}

h1 {
  color: black;
  font-size: 2vw;
  margin: 1vw;
}

/* BODY */
body {
  color: black;
  margin: 0;
  background-color: #a8a9ad;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  font-family: "Racing Sans One", cursive;
}

/* HEADER */
header {
  display: flex;
  flex-direction: row;
}
nav {
  display: flex;
  align-items: center;
  height: 13vw;
  margin-left: 20vw;
}

.navButts {
  margin: 2vw;
  font-size: 1.7vw;
  padding: 1vw 2vw 1vw 2vw;
  background-color: darkred;
  transform: skew(-25deg);
  display: inline-block;
  text-decoration: none;
  color: black;
  border-radius: 1vw;
}
.navButts > span {
  display: inline-block;
  transform: skew(25deg);
  text-decoration: none;
  text-align: center;
}

#logo {
  margin: 2vw 0 0 4vw;
  width: 8vw;
  height: 8vw;
  background-image: url(./images/logo.png);
  background-size: cover;
}

/* MAIN */
/* TOP CONTAINER */
.topImage {
  width: auto;
  height: 24vw;
}

.leftSide {
  /* width: 40%; */
  float: left;
}

.rightSide {
  /* width: 50%; */
  float: right;
  padding-top: 3vw;
}

#container {
  background-color: rgba(250, 250, 250, 46%);
  height: 30vw;
  width: 100%;
  backdrop-filter: blur(15px);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#heritageContainer {
  margin-left: 5vw;
  margin-right: 5vw;
}

/* CAR / LINE */
#carScroll {
  display: flex;
  align-content: center;
  height: 1vw;
  z-index: 20;
  transform: translate3d(0);
}

.carScroll {
  height: 10vw;
  width: 4vw;
  display: fixed;
  margin-left: auto;
  margin-right: auto;
}

/* TIMELINE */
#timeline {
  text-align: center;
  font-size: 2em;
}
.block h2 {
  font-size: 2.3vw;
}

.blockImage {
  width: auto;
  height: 20vw;
}

.blockLeft {
  float: left;
  width: 500vw;
}

.blockRight {
  float: right;
  width: 500vw;
}

#textScroll {
  margin-left: 5vw;
  margin-right: 6vw;
}

.block {
  width: 33vw;
  height: auto;
}

.block1 {
  float: left;
}

.block2 {
  float: right;
}

.block3 {
  float: left;
}

.block4 {
  float: right;
}

.block5 {
  float: left;
}

.block6 {
  float: right;
}

/* FOOTER */
footer {
  position: absolute;
  top: 350vw;
  height: 10vw;
  width: 100%;
  background-image: url(./images/footerTexture.jpg);
  background-size: 40vw;
}
